body{
font-family: 'Dancing Script', cursive;
src: url(https://fonts.google.com/specimen/Dancing+Script?selection.family=Dancing+Script);
background-color: #02010a;
} 
          
    header {
    background-color: #5b7989;
    display: flex;
    border-radius: 10px 10px 0px 0px;
    color: white;
    margin: auto;
    animation: animac 1s;
    }

    @-webkit-keyframes animac {
        0% {
            margin-top: 150%;
        }
        60% {
            margin-top: -5%;
        }
        100% {
            margin-top: 0%;
        }

    }
        header img {
        position: left;
        margin-left: 1%; 
        }

        .titulo {
        width: 50%;
        height: 60%;
        text-align: left;
        text-shadow: 2px 2px #02010a;
        
        }
        .nave {
        width: 50%;
        height: 60%;
        text-align: right;
        margin-right: 1%;
        display: block;
        }
        .link {
        color: white;
        }    
.central {
background-color: #82c3a6;
display: flex;
}
    .centro {
    display: block;
    margin: auto;
    }

.segundo {
background-color: #d5c75f;
border-radius: 1px;
display: flex;
margin: auto;
flex-direction: row;
}
    .imagen {
    position: relative;
    margin: auto;
    text-align: center;
    
    }   
        .imagen img {
            width: 450px;
            height: 500px;
        }
        .imagen img:hover {
        transform: rotate(10deg);
        box-shadow: 2px 2px #82c3a6;
        
        }
    .imagen2 {
    position: relative;
    margin: auto;
    text-align: center;
    }   
        .imagen2 img {
            width: 450px;
            height: 500px;
        }
        .imagen2 img:hover {
        transform:translatey(-5px) translateX(20px);
        box-shadow: 2px 2px #82c3a6;
        
        }
footer {
background-color: #C6d5c5;
border-radius: 0px 0px 10px 10px;
display: flex;
margin: auto;
}
    .contacto, .terminos, .redes, .derechos {
    width: 80%;
  
    }
    .contacto {
    margin-left: 1%;
    }
    .derechos {
    margin-right: 1%;
    }

@media  (max-width: 900px) {
    header {
        flex-direction: column;
        display: flex;
        order: 1;
        margin: auto;
        text-align: center;

    }
    .central {
        display: flex;
        order: 2;
        margin: auto;
    }
    .segundo {
        display: flex;
        flex-direction: column; 
        order: 3;
        text-align: center;
        margin: auto;
    }
        .imagen img {
           width: 80%;
           margin: 1%;
        }
        .imagen2 img {
            width: 80%;
            margin: 1%;
        }
    footer {
        flex-direction: column;
        display: flex;
        order: 4;
        margin: auto;
  
}