body{
font-family: 'Dancing Script', cursive;
src: url(https://fonts.google.com/specimen/Dancing+Script?selection.family=Dancing+Script);
background-color: #02010a;

}
    header {
    background-color: #5b7989;
    display: flex;
    border-radius: 10px 10px 0px 0px;
    color: white;
    margin: auto;
    }
        header img {
        position: left;
        margin-left: 1%;
        
    }

        .titulo {
        width: 50%;
        height: 60%;
        text-align: left;
        text-shadow: 2px 2px #02010a;
        
        }
        .nave {
        width: 50%;
        height: 60%;
        text-align: right;
        margin-right: 1%;
        display: block;
        }
        .link {
        color: white;
        }    
.central {
background-color: #82c3a6;
display: flex;
}
.centro {
display: block;
margin: auto;
}
.img2 {
color: #d5c75f;
display: inline-block;
text-align: center
}
.izq {
float: left;
}
.der {
float: right;
}