body{
font-family: 'Dancing Script', cursive;
src: url(https://fonts.google.com/specimen/Dancing+Script?selection.family=Dancing+Script);
background-color: #02010a;


}
header{
background-color: #5b7989;
border-radius: 10px;

}
header h1{
color:  white;
position: left;
text-shadow: 2px 2px #02010a;
text-align: left
}
header h2{
    
}
header b{
vertical-align: 40px;
}
#central{
background-color: #82c3a6;
}
#segundo{





}